{% extends "layouts/main.html" %}
{% block pageTitle %}
Check your answers – {{ serviceName }} Build a job description
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Profession</dt>
            <dd class="govuk-summary-list__value">{{data.profession}}</dd>
            <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="/generate/profession">Change<span class="govuk-visually-hidden">profession</span>
               </a>
            </dd>
         </div>
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Grade</dt>
            <dd class="govuk-summary-list__value">{{data.grade}}</dd>
            <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="/generate/grade">Change<span class="govuk-visually-hidden">grade</span>
               </a>
            </dd>
         </div>
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Additional skills</dt>
            <dd class="govuk-summary-list__value">
               {% if data.content_design_skills %}
               <ul class="govuk-list govuk-list--bullet">
                  {% for skill in data.content_design_skills %}
                  <li>{{skill}}</li>
                  {% endfor %}
               </ul>
               {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="/generate/specific-skills">Change<span class="govuk-visually-hidden">desired skills</span>
               </a>
            </dd>
         </div>
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Portfolio</dt>
            <dd class="govuk-summary-list__value">{{data.portfolio}}</dd>
            <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="/generate/portfolio">Change<span class="govuk-visually-hidden">portfolio</span>
               </a>
            </dd>
         </div>
      </dl>
      <h2 class="govuk-heading-l">Generate the job description</h2>
      <p>Clicking the generate specification button will create a job description to use for publishing on Civil Service jobs.</p>
      <a href="/generate/specification" role="button" class="govuk-button">Generate specification</a>
   </div>
</div>
{% endblock %}