{% extends "layouts/main.html" %}

{% block pageTitle %}
  Professions – {{ serviceName }} Build a job description
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/generate/specific-skills" method="post">

     


        {{ govukRadios({
  name: "grade",
  fieldset: {
    legend: {
       text: "What grade will the " ~ data.profession | lower ~ " role be?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "G6",
      text: "G6"
    },
    {
      value: "G7",
      text: "G7"
    },
    {
      value: "SEO",
      text: "SEO - Senior Executive Officer"
    },
    {
      value: "HEO",
      text: "HEO - Higher executive officer"
    }    ,
    {
      value: "EO",
      text: "EO - Executive Officer"
    }   ,
    {
      value: "EA",
      text: "EA - Executive assistant"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
      </form>

    </div>
  </div>

{% endblock %}